body {
	background-color: #212145;
	overflow: hidden;
	color: #FFF;
	bottom: 0;
	font-family: 'Open Sans', sans-serif;
}

.navbar {
	background-color: #FFF;
	position: fixed;
	top: 0;
	height: 5vh;
	width: 100vw;
	color: #00b1cf;
	border: 0px;
	border-radius: 0px;
}

.navbar-list-div {
	display: inline-block;
	background-color: #000;
	height: 100%;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: fixed;
	overflow: auto;
	right: 0;
}

li {
	text-decoration: none;
	display: inline;
	float: left;
}

li.nav-text {
	padding: 2vh 5vh;
}

li.nav-text-last {
	padding: 2vh 10vh 2vh 5vh;
}

li.nav-icon {
	padding: 2vh 2vh;
}

li a {
	display: block;
	text-align: center;
}