body {
	background-color: #fff;
	overflow: hidden;
	bottom: 0;
	font-family: 'Open Sans', sans-serif;
	color: #000;
	text-align: center;
}

a {
	position: relative;
	text-decoration: none !important;
	color: #666666;
	display: block;
	text-align: center;
	z-index: 100;
}

li.nav-text a:hover {
	text-decoration: none;
	color: #666666;
}

li.nav-icon a:hover {
	text-decoration: none;
	color: rgba(255, 102, 102, 0.8);
	-webkit-transition: color 0.5s;
}

li.nav-icon {
	color: #666666;
	-webkit-transition: color 0.5s;
}

.nav {
	top: 0;
	height: 5vh;
	width: 100vw;
	border: 0px;
	border-radius: 0px;
	font-size: 1vw;
}

ul.nav-list-left {
	left: 0;
}

ul.nav-list-right {
	right: 0;
	padding-right: 2vh;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: fixed;
	overflow: auto;
}

li {
	display: inline;
	float: left;
}

li.nav-text {
	padding: 4vh 4vh;
	font-weight: bold;
}

li.nav-icon {
	padding: 4vh 2vh;
}

.big-name {
	font-size: 5vh;
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	padding: 20vh 0 5vh 0;
	font-weight: bold;
}

.intro {
	height: 100vh;
	width: 100vw;
}

.emoji {
	padding-top: 5vh;
	font-size: 20px;
}

div.nav-rect {
	position: relative;
	z-index: 90;
	height: 0.5vw;
	bottom: 0.5vw;
	background-color: rgba(26, 178, 255, 0.5);
}

div#rect-resume {
	position: relative;
	z-index: 90;
	height: 0.5vw;
	bottom: 0.5vw;
	margin-bottom: 0.1vw;
	background-color: rgba(255, 102, 102, 0.5);
}

.license {
	font-size: 0.8vw;
    position: absolute;
    bottom: 2vh;
    width: 100vw;
}

#canvas-wrapper {
	display: inline-block;
	height: 10vw;
	width: 10vw;
}