
$colour-link-hover: rgba(22, 174, 214, 0.5);
$colour-icon-hover: #16AED6;
$colour-link: #666666;
$colour-text: #000;
$colour-background: #FFF;

@media screen and (min-width: 400px) {
  body{
    font-size: 10px;
  }
}

body {
  background-color: $colour-background;
  overflow-y: hidden;
  height: 100vh;
  width: 100vw;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  min-font-size: 16px;
  max-font-size: 16px;
  color: $colour-text;
  text-align: center;
}

.big-name {
  font-size: 36px;
  @media screen and (max-width: 450px) {
    font-size: 24px;
    padding: 10vh 0 2vh 0;
  }
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  padding: 20vh 0 2vh 0;
  font-weight: bold;
  white-space: nowrap;
}

.intro {
  height: 100vh;
  width: 100vw;
}

.intro-text {
  padding: 0 0 2vh 0;
  @media screen and (max-width: 450px) {
    font-size: 12px;
    padding: 0 5px 0 5px;
    width: 80vw;
    white-space: normal;
  }
  font-size: 16px;
  white-space: nowrap;
  display: block;
  margin: auto;
}

.license {
  text-align: center;
  font-size: 12px;
  @media screen and (max-width: 450px) {
    font-size: 12px;
  }
  position: absolute;
  bottom: 0;
  padding: 0 0 5px 0;
  width: 100vw;
  white-space: nowrap;
  color: $colour-link;
}

li {
  display: inline-block;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  overflow: auto;
}

div.nav {
  top: 0;
  height: 5vh;
  width: 100vw;
  border: 0;
  border-radius: 0;
  font-size: 16px;
  min-font-size: 8px;
  max-font-size: 16px;

  ul.nav-list-left {
    left: 0;
    padding-left: 40px;
    padding-top: 20px;

    li.nav-text {
      font-weight: bold;
    }
  }

  ul.nav-list-right {
    right: 0;
    padding-right: 40px;
    padding-top: 20px;

    li.nav-icon {
      color: $colour-link;
      -webkit-transition: color 0.5s;
      padding: 0 5px;

      a:hover {
        color: $colour-icon-hover;
        -webkit-transition: color 0.5s;
      }
    }
  }
}

a {
  position: relative;
  display: inline-block;
  text-align: center;
  z-index: 100;
  text-decoration: none !important;
  color: $colour-link;

  &:hover {
    text-decoration: none;
  }
}

a.highlighted {
  font-weight: bold;
  transition: all .5s ease-in-out;
  box-sizing: border-box;
  box-shadow: inset 0 -5px 0 $colour-link-hover;

  &:hover {
    box-shadow: inset 0 -50px 0 0 $colour-link-hover;
    transition: all .5s ease-out;
  }
}

#canvas-wrapper {
  display: inline-block;
  margin: auto;
  @media screen and (max-width: 450px) {
    height: 80vw;
    width: 80vw;
  }
  height: 15vw;
  width: 15vw;
}
