/** Panels and components */

body{
	background-color: rgba(77, 78, 80, 1);
	overflow: hidden;
	color: #FFF;
	bottom: 0;
	font-family: 'Inconsolata', monospace;
	font-weight: lighter;
}

#center-body {
	float: left;
	width: 75vw;
	margin-left: 25vw;
	bottom: 0px;
}

#sidebar {
	position: fixed;
	left: 0;
	top: 0;
	width: 25vw;
	min-width: 200px;
	height: 100vh;
	background-color: #FFF;
	box-shadow: 10px 0px 40px rgba(0, 0, 0, 0.4);
	padding: 0px 20px 0px 20px;
	color: rgba(49, 51, 53, 1);
	text-align: right;
	z-index: 500;
	overflow: scroll;
}

#navbar {
	margin-top: 2vh;
	line-height: 2;
}

#navbar li{
	font-size: 16px;
	font-weight: bold;
}

	/** Text */

h2 {
	font-size: 25px;
	font-family: 'Inconsolata', monospace;
	text-align: center;
	width: 50vw;
	letter-spacing: 2px;
	padding-top: 100px;
}

p {
	font-size: 14px;
	line-height: 1.5;
	letter-spacing: 0.5px;
}

p.title {
	font-size: 18px;
}

p.me-titles {
	font-size: 12px;
}

p.description{
	opacity: 0;
	color: #ffffff;
	z-index: 600;
}

a{
	text-decoration: none;
	color: rgba(49, 51, 53, 1);
}

a:hover{
	color: #00b1cf;
	text-decoration: none;
	-webkit-transition-property: color;
	-webkit-transition-duration: 0.3s;
}

a:visited{
	text-decoration: none;
}

.fa{
	top: 10px;
	bottom: 20px;
}

.fa-spotify {
	margin: 40px 30px 5px 0px;
}

#textIntro {
	text-align: center;
	width: 40vw;
	font-size: 16px;
	margin-top: 30vh;
	margin-left: 5vw;
}

#introName{
	max-width: 25vw;
	font-size: 40px;
	margin-top: 20vh;
	display: block;
	text-align: right;
	font-family: 'Montserrat', sans-serif;
}

#link{
	padding-top:20px;
}

#emails{
	text-align: center;
	margin-top: 20vh;
}

#intro {
	height: 100vh;
}

#introArrow{
	font-size: 30px;
	opacity: 0;
	margin-top: 10vh;
	display: block;
	width: 50vw;
	color: #00b1cf;
	text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

#icons {
	margin-top: 0vh;
	text-align: center;
}

div.panel{
	font-size: 14px;
	display: inline-block;
	padding: 5px 10px 5px 10px;
	background-color: rgba(0, 0, 0, 0.04);
}

/** Lists */

li:hover{
	color: #00b1cf;
	-webkit-transition-property: color;
	-webkit-transition-duration: 0.3s;
}

ul {
	list-style-type: none;
}

li {
	font-size: 14px;
	text-decoration: none;
}

hr {
	margin-left: 40px;
	width: 60vw;
	display: block;
	border-width: 2px;
	border-color: rgba(255, 255, 255, 0.2);
}

/** Objects */


#interests li {
	text-align: left;
	 font-size: 18px;
}

#projects {
	margin-top: 400px;
}

#internships {
	margin-top: 200px;
}

#interests {
	margin-top: 20px;
	margin-bottom: 50px;
	display: block;
	text-align: center;
}

.imageDiv {
	height: 250px;
	padding: 10px;
	display: inline-block;
	float: right;
	margin: 0 40px 20px 0;
}

.projectImage {
	border: 5px solid #3e3f41;
	height: 100%;
	max-height: 100%;
}

.doing {
	float: left;
	padding: 20px 10px 0px 40px;
	margin-bottom: 20px;
	width: 25vw;
}

.doingJob {
	float: left;
	padding: 20px 10px 0px 40px;
	margin-bottom: 20px;
	width: 50vw;
}

.doingsDate{
	font-size: 12px;
	letter-spacing: 2px;
}

.doingsTools {
	display: inline-block;
	padding: 25px 0 0 20px;
	width: 15vw;
}

#resume {
	font-size: 16px;
	font-weight: bold;
}
