body{
	background-color: #999999;
}

	/** Text stuff */

h2 {
	font-family: 'Athiti', sans-serif;
	color: #e2e2e2;
	font-size: 52px;
}


	/** Lightbox stuff */

a.lightbox {
	text-decoration: none;
	/** Default lightbox to hidden */
	display: none;

	/** Position and style */
	position: fixed;
	align-items: center;
	justify-content: center;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center-right;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}


.lightbox:target {
	/** Remove default browser outline */
	outline: none;

	/** Unhide lightbox **/
	display: flex;
}

div.gridSquare{
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 200px;
	min-width: 200px;
	border: 5px solid #999999;
}

div.gridImage {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 40;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

p.description{
	opacity: 0;
	color: #ffffff;
	z-index: 600;
}

#thumbnail:hover div.gridImage {
	filter: brightness(50%);
	-webkit-transition-property: filter;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
}

#thumbnail:hover p {
	opacity: 1;
	-webkit-transition-property: opacity;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
}

#flashing{
	opacity: 0;
	padding-top: 20px;
}

.title{
	font-family: 'Athiti', sans-serif;
	color: #e2e2e2;
	font-size: 36px;
}

p{
	font-family: 'Athiti', sans-serif;
	font-size: 20px;
	line-height: 1.5;
	color: #e2e2e2;
}

#email{
	display: block;
}

#textIntro{
padding-top: 20px;
opacity: 0;
}

#introArrow{
	color:#e2e2e2;
	font-size: 20px;
	opacity: 0;
	display: block;
}

#introName{
	min-width:500px;
	display:block;
	width: 60%;
	opacity: 0;
}

#link{
	padding-top:100px;
}

#resumeGlyph{
	color: #e2e2e2;
	font-size: 40px;
	display: block;
}

#grid{
	padding-top: 100px;
}

.fixed-side-navbar{
	position: fixed;
	top: 45vh;
	right: 0;
	z-index: 500;
	text-align: right;
	transition: all .3s;
}

a,li{
	text-decoration: none;
	font-size: 20px;
	color: #e2e2e2;
	/**text-shadow: 2px 2px 4px #000000;*/
}

li:hover{
	color: #4b4b33;
	-webkit-transition-property: color;
	-webkit-transition-duration: 0.3s;
}

div.panel{
	font-size: 14px;
	color: #e2e2e2;
	display: inline-block;
	padding: 5px 10px 5px 10px;
}

.fa{
	padding: 10px 10px 20px 10px;
}

.gridCloseup{
	display: flex;
	align-items: center;
	justify-content: center;
}

.gridCloseup p{
	padding-left: 20px;
}

.gridCloseup img {
	max-height: 80vh;
	max-width: 50vw;
}
